.colored-section {
    background-color: #f5f0d8;
}

.navbar {
    display: flex;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.branding {

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.brandingLy {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    color: rgb(253, 192, 78);

}

.text-decoration-none {

    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.text-ul {
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.registerButton {
    padding: 8.5px 25.5px 8.5px 25.5px;
    background-color: transparent;
    border: 2.5px solid rgb(253, 192, 78);
    cursor: pointer;
    border-radius: 30px;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
}

.title {
    font-family: "Nunito Sans", sans-serif;

}

.mainHeading {

    font-family: "Nunito Sans", sans-serif;
    font-size: 54px;
    font-weight: 750;


}

.HeroDescription {

    font-family: "Rubik", sans-serif;

    font-weight: 400;

}

.hero {

    font-family: "Rubik", sans-serif;
}

.btnJourney {

    padding-top: 8.5px;
    padding-left: 25.5px;
    padding-bottom: 8.5px;
    padding-right: 25.5px;
    font-size: 17px;
    font-weight: 500;
    border: 2.5px transparent;
    background-color: rgb(253, 192, 78);
    border-radius: 30px;
}

.btnLearn {
    background-color: transparent;
    border: 1px solid rgb(253, 192, 78);
    border-radius: 40px;
    padding-top: 8.5px;
    padding-left: 25.5px;
    padding-bottom: 8.5px;
    padding-right: 25.5px;
}

.mockup {
    padding-top: 68px;
    background-color: rgb(253, 192, 78);
    border-radius: 30px;
}

.white-section {
    font-family: "Nunito Sans", sans-serif;

}

.brandDescription {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    padding-bottom: 34px;
    padding-top: 34px;

}

.logo {
    margin: 0px 25px 0px 25px;
    font-size: 17px;
    width: 170px;
}

.featuresmain {
    font-family: "Rubik", sans-serif;

}

.learningOppertunuty {
    margin-bottom: 8.5px;
    padding-top: 85px;
    font-family: "Nunito Sans", sans-serif;
    font-weight:700 ;
}
.title-container{
    padding:0px 12.75px 0px 12.75px ;
    width: 1320px;
    margin-left: 305px;
    margin-right: 305px;

}
.model2Div{
    padding-top:85px

}
.model2Image{
    height: 634px;

}
.features{
  padding-top: 34px;
  padding-bottom: 34px;
  font-family: "Rubik", sans-serif;
}
.icons{
    margin-left: 51px;
    margin-top: 17px;
    height: 59px;
}
.card-text{
    font-size:21px;
    font-weight: 60px;
}
.featuresMain{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.learnMore{
    color:  rgb(253, 192, 78);;
}
.white-section{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.textp{ 
    font-family: "Rubik", sans-serif;

}
.texth2{
    font-family: "Nunito Sans", sans-serif;
}

.card-title{
    font-family: "Nunito Sans", sans-serif;
    font-weight:700;
}
.card-body{
    background-color: #f5f0d8;
}
.card-img-top{
    background-color: #f5f0d8;
   
}
.pt-2{
    font-family: "Nunito Sans", sans-serif;

}
.enroll-button{
    background-color: transparent;
    border:2px solid rgb(253, 192, 78);
    border-radius: 30px;
    padding: 8.5px 25.5px 8.5px 25.5px;

}
#instructorHeading{
    font-family: "Nunito Sans", sans-serif;
  font-weight: 700;

}
.instructorParagraph{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    padding: 17px 0px 17px 0px ;
}
.trailButton{
   background-color: transparent; 
   border: 2px solid rgb(253, 192, 78); 
   border-radius: 30px;
}
.twitter {
    margin: 0px 34px 0px 34px;
}
.footer-image{
    width: 52px;

}
.footend{
    font-size: medium;
}




